.custom-button {
  padding: 10px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid #000000;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}