/* check in and out table styles */
.check-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
}
.check-table-header,
.check-table-cell {
  padding: 12px;
  border: 1px solid #dddddd;
  text-align: left;
}
.check-table-header {
  background-color: #f3f4f6;
}

/* project table styles */
.project-table {
  width: 430px;
  border-collapse: collapse;
  background-color: #ffffff;
}
.project-table-header,
.project-table-cell {
  padding: 12px;
  border: 1px solid #dddddd;
  text-align: left;
};
.project-table-header {
  background-color: #f3f4f6;
}

/* View Table */
.view-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.view-table-header,
.view-table-cell {
  padding: 12px;
  border: 1px solid #000000;
  text-align: left;
}

.view-table-header {
  background-color: lightgray;
}